<script type="text/javascript">
  $(function(){
    $.ajax({ url: '/posts', type: 'get', dataType:'script' });
  });
</script>
  
<%= render :partial => "message_form" %>
<div id="posts">
  <%= render :partial => @posts %>
</div>